<h1>Gerenciador de conteúdo</h1>

<a href="http://localhost/site-mvc/?pagina=admin&metodo=create">Criar publicação</a>

<hr>

<table>
    <tr>
        <th>ID</th>
        <th>TÍTULO</th>
        <th>ALTERAR</th>
        <th>DELETAR</th>
    </tr>

    {% for postagem in postagens %}
    <tr>
        <th>{{postagem.id}}</th>
        <th>{{postagem.titulo}}</th>
        <th><a href="http://localhost/site-mvc/?pagina=admin&metodo=change&id={{postagem.id}}">ALTERAR</a></th>
        <th>DELETAR</th>
    </tr>
    {% endfor %}
</table>